@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-title: #0a0908;
    --color-label: #bdbdbd;
    --color-disabled: #c7c7c7;
    --color-label-active: #0a0908;
    --color-sidebar: #ffffff;
    --color-input-active: #0a0908;
    --color-input-background: #e5e7eb;
    --color-input-hover: #d6d6d8;
    --color-input-accent: #ffffff;
    --color-background: #e5e6e4;
  }
  @import "../constant/themes/dark.css";
  @import "../constant/themes/light.css";
  @import "../constant/themes/colorful.css";
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  background: #ffffff;
}
